* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 37, 37);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.header {
    background-color: rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

header li {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px;
}

.header a {
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 24px;
}

.header img {
    width: 80px;
    height: 80px;
}

.header a:hover {
    color: rgb(165, 3, 3);
}

.header ul {
    display: flex;
}

.buscador {
    display: flex;
    align-items: right;
}

.buscador input {
    border-radius: 5px;
    background-color: rgba(141, 141, 141, 0.225);
    color: white;
}

.buscador button {
    border-radius: 5px;
}

.buscador button:hover{
    background-color: rgb(165, 3, 3);
    color: white;
}

#footer {
    background-color: rgb(31, 31, 31);
    color: rgba(69, 69, 69, 0.422);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}

.nombres {
    text-align: left;
    color: white;
    padding: 10px;
}

.nombres p {
    margin: 30px;
}

.contacto {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.contacto p {
    margin: 0px 30px 10px 5px;
}

.contacto a {
    text-decoration: none;
    color: white;
    margin: 0px 30px 0px 0px;
}

.contacto a:hover{
    color: rgb(197, 0, 0);
}

.redes img {
    height: 30px;
    margin: 20px 10px;
}

.redes p {
    color: white;
}

.linea {
    width: 1px;
    height: 100px;
    background-color: white;
}

.elementos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
}

.elemento {
    border-radius: 15px;
    padding: 5px;
    background-color: rgba(133, 133, 133, 0.351);
    text-decoration: none;
}

.elemento:hover {
    background-color: rgba(255, 2, 2, 0.514);
    border: 2px solid white;
}

.elemento img {
    width: 250px;
    display: block;
    border-radius: 10px;
}

.elemento img:hover {
    background-color: rgba(144, 144, 144, 0.125)%;
}

.detalles {
    text-align: center;
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
}

.detalles h3 {
    font-size: 25px;
    padding: 3px;
    text-decoration: none;
}

.detalles p {
    font-size: 15px;
    text-decoration: none;
}

.peliculas h2 {
    color: white;
    font-size: 30px;
    padding: 15px 30px;
}

.series h2 {
    color: white;
    font-size: 30px;
    padding: 15px 30px;
}

.seriesDestacadas h2{
    color: white;
    font-size: 30px;
    padding: 15px 30px;
}
.series {
    margin: 100px 0 0 0;
}

.seriesDestacadas{
    margin: 100px 0 0 0;
    margin-bottom: 10px;  
}


.peliculas{
    margin-top: 10px;
}

.banner img {
    width: 100%;
}

/* CSS del register y login */ 


.seccionreg {
    background: white;
    padding: 60px;
    width: 320px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 40px;
}

.seccionreg h1{
    margin: 10px 0px;
}

.seccionlog h1{
    margin: 10px 0px;
}

.seccionlog {
    background: white;
    padding: 60px;
    width: 320px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
   
}

h1 {
    color: #333;
}

.form {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.form input {
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    display: block;
    width: 100%;
    margin-top: 5px;
}

.botonlog {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 5px;
}

.botonlog[type="reset"] {
    background-color: #6c757d;
}

.yatengocuenta {
    margin-top: 10px;
}

.yatengocuenta a {
    color: #007bff;
    text-decoration: none;
}

.notengocuenta {
    margin-top: 10px;
}

.notengocuenta a {
    color: #007bff;
    text-decoration: none;
}

.maindetalle {
    display: flex;
    align-items: flex-start;
    
}

.detalle {
    max-width: 1000px;
    color: white;
    padding-left: 30px;
}

.detalle h2 {
    font-size: 38px;
    margin: 30px 0px;
}

.detalle p {
    margin: 0 0 30px 0;
}

.estrellas {
    margin: 30px 0px;
    padding: 5px;
}

.estrellas img {
    height: 30px;
}

.fotodetalle{
    width: 700px;
    
    object-fit: cover;
    border-radius: 0;
    display: block;
    margin: 0px;
    padding: 0px;
}

.genero a{
    text-decoration: none;
    color: white;
}

.genero a:hover{
    font-weight: bolder;
}

.detalle iframe{
    border-radius: 10px;
    width: 700px;
    margin: 70px 0px;
}

@media (max-width: 1024px) {
    /* para tablet */
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header ul {
        flex-direction: column;
        align-items: center;
    }

    .header li {
        padding: 10px 0;
    }

    .buscador {
        margin-top: 10px;
    }

    .elementos {
        justify-content: center;
    }

    .elemento {
        width: 45%;
        margin: 10px;
    }

    #footer {
        flex-direction: column;
        text-align: center;
    }

    .linea {
        width: 100%;
        height: 1px;
        margin: 20px 0;
    }


    .maindetalle {
        flex-direction: column;
        align-items: center;
    }

    .fotodetalle {
        width: 100%;
       
    }
}


@media (max-width: 768px) {
    /* para celular */
    .elemento {
        width: 90%;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .header ul {
        flex-direction: column;
        align-items: center;
    }

    .header li {
        padding: 10px 0;
    }

    .buscador {
        margin-top: 10px;
    }

    #footer {
        flex-direction: column;
        text-align: center;
    }

    .linea {
        width: 100%;
        height: 1px;
        margin: 20px 0;
    }


    .maindetalle {
        flex-direction: column;
        align-items: center;
    }

    .fotodetalle {
        width: 100%;
     
    }
}