* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(60, 60, 60);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.header {
    background-color: rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

header li {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px;
}



.header a {
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 24px;

}

.header img {
    width: 80px;
    height: 80px;

}

.header ul {
    display: flex;

}

.buscador {
    display: flex;
    align-items: right;

}

.buscador input {
    border-radius: 5px;
    background-color: rgba(141, 141, 141, 0.225);
    color: white;
}

.buscador button {
    border-radius: 5px;
}

#footer {
    background-color: rgb(31, 31, 31);
    color: rgba(69, 69, 69, 0.422);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}

.nombres {
    text-align: left;
    color: white;
    padding: 10px;

}

.nombres p {
    margin: 30px
}

.contacto {
    text-align: center;
    display: flex;
   
    flex-direction: column;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.contacto p {
    margin: 0px 30px 10px 5px;


}

.contacto a {
    text-decoration: none;
    color: white;
    margin: 0px 30px 0px 0px;
}

.redes img {

    height: 30px;
    margin: 20px 10px;
}

.redes p {
    color: white;
}

.linea {
    width: 1px;
    height: 100px;
    background-color: white;
}

.elementos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
}

.elemento {
    border-radius: 15px;
    padding: 5px;
    background-color: rgba(133, 133, 133, 0.351);
    text-decoration: none;
}

.elemento img {
    width: 250px;
    height: 400px;
    display: block;
    border-radius: 10px;
}

.detalles {
    text-align: center;
    text-decoration: none;
    color: white;
}


.detalles h3 {
    font-size: 25px;
    padding: 3px;
    text-decoration: none;
}

.detalles p {
    font-size: 15px;
    text-decoration: none;
}

.peliculas h2 {
    color: white;
    font-size: 30px;
    padding: 15px 30px;
}

.series h2 {
    color: white;
    font-size: 30px;
    padding: 15px 30px;
}

.series {
    margin: 100px 0 0 0;
}

.banner{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.banner img {
    width: 100%;
}


  


/* CSS del register y login */ 


.seccionreg {
    background: white;
    padding: 60px;
    width: 320px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 20px;
}

.seccionlog{
    background: white;
    padding: 60px;
    width: 320px;
   margin: auto;
    margin-top: 75px;
    margin-bottom: 130px;
   
}
h1 {
    color: #333;
}

.form {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.form input {
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    display: block;
    width: 100%;
    margin-top: 5px;
}

.botonlog {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 5px;
}

.botonlog[type="reset"] {
    background-color: #6c757d;
}

.yatengocuenta {
    margin-top: 10px;
}

.yatengocuenta a {
    color: #007bff;
    text-decoration: none;
}



.notengocuenta {
    margin-top: 10px;
}

.notengocuenta a {
    color: #007bff;
    text-decoration: none;
}
