* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(37, 37, 37);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.header {
    background-color: rgb(31, 31, 31);
    color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
}

header li {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px;
}

.header a {
    display: flex;
    flex-direction: row;
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 24px;
}

.header img {
    width: 80px;
    height: 80px;
}

.header a:hover {
    color: rgb(165, 3, 3);
}

.header ul {
    display: flex;
}

.buscador {
    display: flex;
    align-items: right;
}

.buscador input {
    border-radius: 5px;
    background-color: rgba(141, 141, 141, 0.225);
    color: white;
}

.buscador button {
    border-radius: 5px;
}

.buscador button:hover {
    background-color: rgb(165, 3, 3);
    color: white;
}

#footer {
    background-color: rgb(31, 31, 31);
    color: rgba(69, 69, 69, 0.422);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px 10px 0px 0px;
}

.nombres {
    text-align: left;
    color: white;
    padding: 10px;
}

.nombres p {
    margin: 30px 30px 30px 30px;
}

.contacto {
    text-align: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.contacto p {
    margin: 0 30px 10px 5px;
}

.contacto a {
    text-decoration: none;
    color: white;
    margin: 0 30px 0 0;
}

.contacto a:hover {
    color: rgb(197, 0, 0);
}

.redes img {
    height: 30px;
    margin: 20px 10px;
}

.redes p {
    color: white;
}

.linea {
    width: 1px;
    height: 100px;
    background-color: white;
}

.elementos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.elemento {
    border-radius: 15px;
    padding: 5px ;
    box-sizing: border-box;
    background-color: rgba(133, 133, 133, 0.351);
    text-decoration: none;
    width: 260px;
    margin: 15px;
}

.elemento:hover {
    background-color: rgba(255, 2, 2, 0.514);
    border: 1px solid white;
}

.elemento img {
    width: 100%;
    border-radius: 10px;
}


.detalles {
    text-align: center;
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
}

.detalles h3 {
    font-size: 25px;
    padding: 3px;
    text-decoration: none;
}

.detalles p {
    font-size: 15px;
    text-decoration: none;
}

.peliculas h2 {
    color: white;
    font-size: 30px;
    padding: 15px 30px;
}

.series h2 {
    color: white;
    font-size: 30px;
    padding: 15px 30px;
}

.seriesDestacadas h2 {
    color: white;
    font-size: 30px;
    padding: 15px 30px;
}

.series {
    margin: 100px 0 0 0;
}

.seriesDestacadas {
    margin: 100px 0 10px 0;
}


.peliculas {
    margin: 10px 0 0 0;
}

/* CSS del register y login */

.contenedor-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.seccionreg {
    background: white;
    padding: 60px;
    width: 320px;
    margin: 35px 0 40px 0;
    border-radius: 5px;
    
}

.seccionreg h1 {
    margin: 10px 0 10px 0;
}

.seccionlog h1 {
    margin: 10px 0 10px 0;
}

.seccionlog {
    background: white;
    padding: 60px;
    width: 320px;
    margin: 150px 0 150px 0;
    border-radius: 5px;
}

h1 {
    color: #333;
}

.form {
    display: block;
    margin: 0 0 10px 0;
    text-align: left;
 
}

.form input {
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    display: block;
    width: 100%;
    margin: 5px 0 0 0;
    border-radius: 3px;
}

.botonlog {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    margin: 0 0 5px 0;
    border-radius: 5px;
}

.botonlog:hover {
    background-color: #00356d;

}

.botonlog[type="reset"] {
    background-color: #6c757d;
}

.botonlog[type="reset"]:hover {
    background-color: #7c0000;
}

.yatengocuenta {
    margin: 10px 0 0 0;
}

.yatengocuenta:hover {
    font-weight: bolder;
}

.yatengocuenta a {
    color: #007bff;
    text-decoration: none;
}

.notengocuenta {
    margin: 10px 0 0 0;
}

.notengocuenta:hover {
    font-weight: bolder;
}

.notengocuenta a {
    color: #007bff;
    text-decoration: none;
}


.detalle {
    max-width: 1000px;
    color: white;
    padding-left: 30px;
}

.maindetalle {
    display: flex;
}


.detalle h2 {
    font-size: 38px;
    margin: 30px 0 30px 0;
}

.detalle p {
    margin: 0 0 30px 0;
}

.estrellas {
    margin: 30px 0 30px 0;

}

.estrellas img {
    height: 30px;
}

.genero a {
    text-decoration: none;
    color: white;
}

.genero a:hover {
    font-weight: bolder;
}

.detalle iframe {
    border-radius: 10px;
    width: 700px;
    margin: 70px 0 70px 0;
}

.fotodetalle {
    width: 700px;
    display: block;
}

@media (max-width: 1024px) {

    /* para tablet */
    .header {
        flex-direction: column;
        align-items: center;
    }

    .header ul {
        flex-direction: column;
        align-items: center;
    }

    .header li {
        padding: 10px 0;
    }

    .buscador {
        margin: 10px 0 0 0;
    }

    .elementos {
        justify-content: center;
    }

    .elemento {
        margin: 10px;
    }

    #footer {
        flex-direction: column;
        text-align: center;
    }

    .linea {
        width: 100%;
        height: 1px;
        margin: 20px 0 20px 0;
    }

    .maindetalle {
        flex-direction: column;
        align-items: center;
    }

    .fotodetalle {
        width: 100%;

    }
}

@media (max-width: 768px) {
    /* para celular */

    .header {
        flex-direction: column;
        align-items: center;
    }

    .header ul {
        flex-direction: column;
        align-items: center;
    }

    .header li {
        padding: 10px 0;
    }

    .buscador {
        margin: 10px 0 0 0;
    }

    #footer {
        flex-direction: column;
        text-align: center;
    }

    .linea {
        width: 100%;
        height: 1px;
        margin: 20px 0 20px 0;
    }

    .maindetalle {
        flex-direction: column;
        align-items: center;
    }

    .fotodetalle {
        width: 100%;

    }
}

/* CSS GENERO PELICULA */

.genero-container {
    font-family: "Inter", sans-serif;
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    flex-direction: column;
}

.genero-title {
    margin: 0 0 40px 0;
    color: #fcfcfc;
    font-size: 32px;
}

.genero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 15px 0;
}

.genero-btn {
    text-decoration: none;
    background-color: #6c757d;
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    width: 200px;
    text-align: center;
    margin: 0 0 15px 0;
    border-radius: 5px;
}

.genero-btn:hover {
    background-color: rgba(255, 2, 2, 0.514);
}


.busqueda{
    color: white;
    margin: 20px 10px 20px 10px;
}

.resultados {
    margin: 20px 20px 0 0;
}

.resultadoitem {
    display: flex;
    align-items: center;
    margin: 0 0 16px 0;
    background-color: #51515151;
    padding: 12px;
    border-radius: 8px;
}

.resultadolink {
    display: flex;
    text-decoration: none;
}

.resultadolink p{
    margin: 10px 10px 10px 10px;
}

.resultadoinfo h2{
font-size: 58px;
}

.resultadoimg {
    width:150px;
    margin: 0 15px 0 15px;
    border-radius: 4px;
}

.resultadoinfo h2 {
    font-size: 19px;
    color: white;
}

.resultadoinfo{
    color: white;
}

.fecha {
    font-size: 14px;
    color: #eeeeee;
}


/*leyenda avisando al usuario para el caso de no haber datos coincidentes con el término buscado. (no se ve)*/
.sinresultados {
    display: flex;
    color: red;
    font-weight: bold;
    margin: 20px 0 20px 0;
    font-size: 26px;
    display: none;
}

.sinresultados img {
 width: 30px;
 margin: 0 10px 0 10px;
}

/* CSS DETALLE GENERO  */

.contenedor-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
